<p></p>

<h1 align="center"> Type the name of a class into the textbox, <br> then click calculate to estimate its difficulty. </h1>


<h4 align="center">
<%= form_tag do %>
  Class name: <input type="text" name="fname"><br><br>
  <input type="submit" value="Calculate">
<% end %>
</h4>
